@using FilmSessionWeb.Models;
@model RoomFilmViewModel

@{
    ViewBag.Title = "DetailBooking";
}

<h2>Thông tin đặt vé chi tiết</h2>
<div id="room-detail">
    <p>Tên phòng: @Model.RoomFilmName</p>
</div>

